h2{
    margin: 1rem;
    font-family: Arial;
    font-size: 1rem;
    text-align: left;
}

.aclaracion{
    font-family: Arial;
    margin: 12px 12px;
    margin: 5px 5px 100px 5px;
    padding: 5px 5px 150px 5px;;
}